#genres-background {
    background: rgb(247, 203, 203);
    background: linear-gradient(180deg, rgb(245, 190, 190) 0%, rgb(236, 88, 96) 100%);
}

#genres-container {
    overflow: scroll;
    width: 100vw;
    /* height: 50.5vw; */
}

.genre-name-box {
    display: inline-flex;
    height: 4em;
    width: 8em;
    padding: 3em 3em;
    margin: 1em 1em;
    border-color: rgba(255, 255, 240, 0.514);
    border-radius: 9px;
    box-sizing: .3em;
    border-style: solid;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
}
