/* Body of page css */


/* Nav bar */

li:hover {
    color: rgba(206, 206, 206, 0.86);
}

/* New Movie Trailer */

.hometrailer {
    width: 40em;
    height: 25em;
    margin: auto;
    padding: 0px 0px;
}

.movie-scroll-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: 
    'newMov trend'
    'newMov trend'
    'newMov trend'
    'newMov trend';
}

/*Styling for middle setction movies home page*/

.movie-middle-section-container {
    overflow-y: scroll;
    height: 22.5em;
}

.each_movie {
    margin-top: 1em;
    margin-bottom: 3em;
}