
.new-movie-genre-title {
    margin-top: 1.2em;
    margin-bottom: .2em;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    border-top: black solid 2px;
}

#movie-container {
    grid-area: 'newMov';
}

#movie-box {
    display: flex;
    position: relative;
    justify-content: center;
}

#movie-img {
    display: block;
    width: 60%;
}

#overlay-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

#overlay-text:hover {
    opacity: 1;
} 

#movie-title {
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2em;
}

#movie-des {
    margin: 0 .3em 1.5em .3em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
