#pagebody {
    height: auto;
}

#single-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "tagLin tagLin tagLin"
    " . sinImg . "
    " . sinOve . "
    "sinTitl sinRes sinSta"
    "sinLen sinGen sinMon";
}

#single-tagline {
    grid-area: tagLin;
}

#single-img {
    grid-area: sinImg;
}

#single-title {
    grid-area: sinTitl;
}

#title-sin {
    margin-top: 1em;
}

#single-release {
    grid-area: sinRes;
}

#single-status {
    grid-area: sinSta;
}

#single-length {
    grid-area: sinLen;
}

#single-genres {
    grid-area: sinGen;
    margin-top: 1.5em;
}

#single-money {
    grid-area: sinMon;
}

.sin-budget {
    display: flex;
    margin: 0em 1em;
    justify-content: center;
}

#sin-budget1 {
    margin-right: .2em;
}

.sin-rev {
    display: flex;
    margin: 0em 1em;
    justify-content: center;
}

#sin-rev1 {
    margin-right: .2em;
}

#single-overview {
    grid-area: sinOve;
}

.bold-tag {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

.bold-tag-it {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4em;
}

.regualer-tag {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

.regualer-tag-it {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.4em;
}

.thin-tag {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}

.thin-tag-it {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.4em;
}

.line-up {
    display: flex;
    justify-content: center;
}

#img-tag {
    width: 18em;
    border-radius: 2px;
}