.homepage{
    display: grid;
    grid-template-areas: 
    't-nav t-nav t-nav'
    'h-n-t . h-t-m'
    'h-n-m h-n-m h-n-m'
    'b-nav b-nav b-nav';
}

.t-nav{
    grid-area: t-nav;
}

.h-new-trailer-s{
    grid-area: h-n-t;
    padding: 0 2rem;
}

.h-new-trailer-t{
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
}

/* .h-new-trailer{
    
} */

.h-new-movie-s{
    grid-area: h-n-m;
    margin: 1rem 0;
}

.h-new-movie-t{
    margin-bottom: .5rem;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
}

/* .h-new-movie{
    
} */

.h-trending-movie-s{
    grid-area: h-t-m;
}

.h-trending-movie-t{
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
}

/* .h-trending-movie{

} */

.b-nav{
    grid-area: b-nav;
    align-self: baseline;
}

@media only screen and (max-width: 800px){
    .homepage{
        display: grid;
        grid-template-areas: 
        't-nav'
        'h-n-t'
        'h-t-m'
        'h-n-m'
        'b-nav';
    }

    .h-new-trailer-s{
        margin: 0 2rem;
        padding: 0 0;
    }
}