#about-app-body {
    height: auto;
}


#about-app-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2em;
    grid-template-areas: 
    "head head tagLin tagLin tagLin"
    ". movDB movDB movDB ."
    ". . butLin . ."
    "blo1 blo2 blo3 blo4 blo5";
}

#header {
    grid-area: head;
    font-size: 2em;
    margin: 1em 0em;
    justify-content: center;
}

#tag-line {
    grid-area: tagLin;
    font-size: 1.2em;
    margin: 1em 0em;
    justify-content: left;
}

#movieDB {
    grid-area: movDB;
}

#button-link {
    grid-area: butLin;
    font-size: 1.2em;
    padding: 1em 1em;
    margin: 1em 0em;
    background-color: rgba(255, 255, 240, 0.5);
    border-radius: 15px;
}

#button-link:hover {
    grid-area: butLin;
    font-size: 1.2em;
    padding: 1em 1em;
    margin: 1em 0em;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 15px;
}

#block1 {
    grid-area: blo1;
}

#block2 {
    grid-area: blo2;
}

#block3 {
    grid-area: blo3;
}

#block4 {
    grid-area: blo4;
}

#block5 {
    grid-area: blo5;
}

.bold-tag-a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

.bold-tag-it-a {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4em;
}

.regualer-tag-a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

.regualer-tag-it-a {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.4em;
}

.thin-tag-a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}

.thin-tag-it-a {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.4em;
}

@media only screen and (max-width: 800px){
    #about-app-body {
        height: auto;
    }
    
    
    #about-app-container {
        display: grid;
        row-gap: 0em;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, .8fr);
        grid-template-areas: 
        " head head head head head head "
        " tagLin  tagLin tagLin tagLin tagLin tagLin "
        " . movDB movDB movDB movDB . "
        " . butLin butLin butLin butLin . "
        " blo1 blo1 blo1 blo2 blo2 blo2 "
        " blo3 blo3 blo3 blo4 blo4 blo4 "
        " . . blo5 blo5 . . ";
    }
    
    #header {
        grid-area: head;
        font-size: 2em;
        margin: auto;
        justify-content: center;
    }
    
    #tag-line {
        grid-area: tagLin;
        font-size: 1.6em;
    }
    
    #movieDB {
        display: flex;
        justify-content: center;
        grid-area: movDB;
    }
    
    #button-link {
        grid-area: butLin;
        font-size: 1.4em;
        margin: auto;
        background-color: rgba(255, 255, 240, 0.5);
        border-radius: 15px;
    }
    
    #block1 {
        grid-area: blo1;
        font-size: .9em;
        padding: .8em .8em;
        margin: auto;
        background-color: rgba(255, 255, 240, 0.5);
        border-radius: 15px;
    }

    #block01 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    #block2 {
        grid-area: blo2;
        font-size: 1.4em;
        padding: 1em 1em;
        margin: auto;
        background-color: rgba(255, 255, 240, 0.5);
        border-radius: 15px;
    }

    #block02 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #block3 {
        grid-area: blo3;
        font-size: 1.4em;
        padding: 1em 1em;
        margin: auto;
        background-color: rgba(255, 255, 240, 0.5);
        border-radius: 15px;
    }

    #block03 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    #block4 {
        grid-area: blo4;
        font-size: 1.4em;
        padding: 1em 1em;
        margin: auto;
        background-color: rgba(255, 255, 240, 0.5);
        border-radius: 15px;
    }

    #block04 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    #block5 {
        grid-area: blo5;
        font-size: 1.3em;
        padding: 1em 1em;
        margin: auto;
        background-color: rgba(255, 255, 240, 0.5);
        border-radius: 15px;
    }

    #block05 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .bold-tag-a {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1em;
    }
    
    .bold-tag-it-a {
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 1em;
    }
    
    .regualer-tag-a {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1em;
    }
    
    .regualer-tag-it-a {
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 1em;
    }
    
    .thin-tag-a {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 1em;
    }
    
    .thin-tag-it-a {
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 1em;
    }
}