#about-app-body {
    display: grid;
    grid-template-areas:
    'topnav'
    'info'
    'botnav';
}

.about-t-nav{
    grid-area: topnav;
}

.about-app-info{
    grid-area: info;
}

.about-b-nav{
    grid-area: botnav;
    align-self: baseline;
}

#about-app-container {
    display: grid;
    row-gap: 5.2rem;
    grid-template-areas: 
    "head head head"
    "tagLin tagLin tagLin"
    "movDB movDB movDB"
    "butLin butLin butLin"
    "blo2 blo4 blo5";
}

#about-header {
    grid-area: head;
    margin: 1rem 0rem;
    justify-content: center;
}

.about-header-text{
    font-size: 4rem;
    font-weight: 600;
}

#tag-line {
    grid-area: tagLin;
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
}

.tag-line-text{
    align-self: center;
    font-size: 2rem;
    text-align: justify;
}

#movieDB {
    grid-area: movDB;
    display: flex;
    justify-content: center;
    align-content: center;
}

.moviedb-img{
    width: 70rem;
}

#button-link {
    grid-area: butLin;
    display: flex;
    justify-self: center;
    align-self: center;
    width: fit-content;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: rgba(255, 255, 240, 0.5);
    border-radius: 1rem;
}

.button-link-text{
    font-size: 2rem;
}

#button-link:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

#block2 {
    grid-area: blo2;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 240, 0.5);
    border-radius: 1rem;
}

#block2:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

#block4 {
    grid-area: blo4;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 240, 0.5);
    border-radius: 1rem;
}

#block4:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

#block5 {
    grid-area: blo5;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 240, 0.5);
    border-radius: 1rem;
}

#block5:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

@media only screen and (max-width: 800px){
    #about-app-body {
        height: auto;
    }
    
    
    #about-app-container {
        display: grid;
        row-gap: 4rem;
        grid-template-areas: 
        "head"
        "tagLin"
        "movDB"
        "butLin"
        "blo2"
        "blo4"
        "blo5";
    }

    .about-header-text{
        font-size: 3rem;
    }

    .tag-line-text{
        font-size: 1.5rem;
    }

    .moviedb-img{
        width: 24rem;
    }

    #block2 {
        font-size: 1.6rem;
        padding: 1rem 3rem;
        margin: auto;
    }

    #block02 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #block4 {
        font-size: 1.6rem;
        padding: 1rem 3rem;
        margin: auto;
    }

    #block04 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    #block5 {
        font-size: 1.6rem;
        padding: 1rem 3rem;
        margin: 0 3rem 2.2rem 3rem;
    }

    #block05 {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}